body {
    margin: 0;
    padding: 0;
    background-color: #c9c9c9;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chat-container {
    width: 100%;
    max-width: 600px;
}

.chatbox {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.header {
    background-color: #4287f5;
    color: white;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    font-size: 24px;
}

.conversation {
    padding: 10px;
    background-color: #2a2828;
    max-height: 500px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.user-message {
    background-color: #f7f7f7;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    display: inline-block;
    max-width: 70%;
    word-wrap: break-word;
}

.chatbot-message {
    background-color: #4287f5;
    color: white;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    display: inline-block;
    max-width: 70%;
    word-wrap: break-word;
}

#user-input {
    width: 80%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#send {
    background-color: #4287f5;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#send:hover {
    background-color: #336ac2;
}
